<a href="https://colab.research.google.com/github/ameyadalvi84/Finance_preprocess/blob/Version_1/Pandas_formating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv("../tmp/data.csv",sep=";")

In [3]:
data.head()

      Symbol      Open  ...  365 Days % Change  30 Days % Change
0   NIFTY 50  11149.95  ...              -1.44              6.10
1   RELIANCE   2058.00  ...              69.16             23.77
2  SUNPHARMA    490.00  ...              13.88             -3.17
3      TECHM    632.50  ...              -2.60             15.12
4    HCLTECH    641.00  ...             -34.98             14.43

[5 rows x 13 columns]

In [4]:
data = data[1:]
data.head()

      Symbol     Open    High  ...  52 Week Low  365 Days % Change  30 Days % Change
1   RELIANCE  2058.00  2149.9  ...       866.98              69.16             23.77
2  SUNPHARMA   490.00   497.8  ...          312              13.88             -3.17
3      TECHM   632.50   648.4  ...        471.4              -2.60             15.12
4    HCLTECH   641.00   665.8  ...       375.25             -34.98             14.43
5       INFY   903.25   923.8  ...       509.25              15.82             26.37

[5 rows x 13 columns]

In [5]:
main_data = data[['Symbol','Open','High','Low','Last Traded Price','52 Week High','52 Week Low']]

In [6]:
main_data.head()

      Symbol     Open    High  ...  Last Traded Price  52 Week High 52 Week Low
1   RELIANCE  2058.00  2149.9  ...             2129.9      2,149.90      866.98
2  SUNPHARMA   490.00   497.8  ...              484.6         512.7         312
3      TECHM   632.50   648.4  ...              643.3         845.9       471.4
4    HCLTECH   641.00   665.8  ...              664.0         665.8      375.25
5       INFY   903.25   923.8  ...              910.7         955.5      509.25

[5 rows x 7 columns]

In [7]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 1 to 50
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symbol             50 non-null     object
 1   Open               50 non-null     float64
 2   High               50 non-null     float64
 3   Low                50 non-null     float64
 4   Last Traded Price  50 non-null     float64
 5   52 Week High       50 non-null     object
 6   52 Week Low        50 non-null     object
dtypes: float64(4), object(3)
memory usage: 2.9+ KB

In [8]:
import datetime

In [9]:
main_data['date'] = datetime.datetime.date(datetime.datetime.now())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
main_data.set_index(['date','Symbol'],inplace = True)
main_data.head()

                         Open    High  ...  52 Week High  52 Week Low
date       Symbol                      ...
2020-07-24 RELIANCE   2058.00  2149.9  ...      2,149.90       866.98
           SUNPHARMA   490.00   497.8  ...         512.7          312
           TECHM       632.50   648.4  ...         845.9        471.4
           HCLTECH     641.00   665.8  ...         665.8       375.25
           INFY        903.25   923.8  ...         955.5       509.25

[5 rows x 6 columns]

In [11]:
main_data.head()

                         Open    High  ...  52 Week High  52 Week Low
date       Symbol                      ...
2020-07-24 RELIANCE   2058.00  2149.9  ...      2,149.90       866.98
           SUNPHARMA   490.00   497.8  ...         512.7          312
           TECHM       632.50   648.4  ...         845.9        471.4
           HCLTECH     641.00   665.8  ...         665.8       375.25
           INFY        903.25   923.8  ...         955.5       509.25

[5 rows x 6 columns]

In [12]:
pd.pivot_table(main_data,['Open','High','Low','Last Traded Price'],index=['date'],columns=['Symbol']).sort_index(axis=1, level=1).swaplevel(0, axis=1)

Symbol     ADANIPORTS                    ...   ZEEL
                 High Last Traded Price  ...    Low    Open
date                                     ...
2020-07-24     313.95             307.6  ...  151.2  158.95

[1 rows x 200 columns]